header {
  background-color: var(--main-bg-color);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px 30px;
}

@keyframes Slide-border {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.border-slide-start {
  position: absolute;
  width: 100%;
  animation-name: Slide-border;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  background: none repeat scroll 0 0 var(--sky-color);
  height: 1px;
}
