ul {
  list-style: none;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--sky-color); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.fadeLeftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes fadeInLeft {
  0% {
    position: absolute;
    left: -50%;
    opacity: 0;
  }

  100% {
    position: absolute;
    left: 24%;
    opacity: 1;
  }
}

@keyframes fadeInLeftMobile {
  0% {
    position: absolute;
    left: -20%;
    opacity: 0;
  }

  100% {
    position: absolute;
    left: 4%;
    opacity: 1;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .full-row-mobile {
    grid-column: span 3;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 420px) {
  .fadeLeftIn {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
  
  .fadeLeftInMobile {
    animation-name: fadeInLeftMobile;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
}
