header {
  width: 96vw;
  background-color: var(--main-bg-color);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px 20px;
}

@keyframes Slide-border {
  0% {
    left: 0%;
    width: 1%;
  }

  25% {
    left: 0%;
    width: 100%;
  }

  50% {
    left: 50%;
    width: 50%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

.borderSliderWrapper {
   width: "100%"; 
   position: "relative";
 }

.borderSlide {
  position: absolute;
  width: 100%;
  animation-name: Slide-border;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: none repeat scroll 0 0 var(--sky-color);
  height: 1px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header {
    width: 89vw;
  }
  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
  }
}