header {
  position: fixed;
  z-index: 10;
  width: 97.5vw;
  background-color: var(--main-bg-color);
  height: 50px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px 20px 0 20px;
}

.innerHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@keyframes Slide-border {
  0% {
    left: 0%;
    width: 1%;
  }

  25% {
    left: 0%;
    width: 100%;
  }

  50% {
    left: 50%;
    width: 50%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.borderSliderWrapper {
   width: "100%"; 
   position: "relative";
   margin-top: 10px;
 }

.borderSlide {
  position: absolute;
  width: 100%;
  animation-name: Slide-border;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: none repeat scroll 0 0 var(--sky-color);
  height: 1px;
}

.linksContainer {
  flex-grow: 1;
  padding: 10px 50px 0;
}

.linksContainer a {
  margin-left: 30px;
  font-size: 19px;  
  text-decoration: none;
  color: var(--main-text-color)
}

.posterum {
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(150deg, var(--main-bg-color),rgba(22, 116, 240, 0.467) 25%, rgba(22, 215, 240, 0.467));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.posterum:hover {
  display: inline-block;
  transform: scale(1.2);
  animation: spin .1s 3;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header {
    width: 89.5vw;
  }
  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
  }
}