.title {
  transition: color 1.5s ease 0.2s;
  color: var(--sky-color);
  /* background: -webkit-linear-gradient(#333, #61dafb); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.fullRow {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
}

.twoColumns {
  grid-column: span 2;
  display: flex;
  justify-content: flex-start;
  padding: 10px 40px 0 10px;
}

ul {
  list-style: none;
}

.codingImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.description {
  margin-bottom: 100px;
  padding-right: 100px;
}

.whatsThis {
  z-index: 10;
}

.whatsThisImg {
  display: flex;
  justify-content: flex-end;
  margin-left: -310px;
  /* width: 200px; */
}

.hideOnMenu {
  opacity: var(--hide-opacity);
  transition: opacity 500ms linear 0s;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .description {
    margin-bottom: 0px;
  }

  .fullRowMobile {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    padding: 10px 20px 0 10px;
  }

  .whatsThis {
    display: flex;
    justify-content: center;
  }

  .whatsThisImg {
    margin-top: -80px;
    margin-left: 0;
    justify-content: flex-start;
  }

  .whatsThisImgContainer {
    flex-direction: column;
  }
}
